## Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

## App
NEXT_PUBLIC_BASE_URL=http://localhost:3000

## Stripe (paiement one-time pour création de ligue privée)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_LEAGUE_PRIVATE=
STRIPE_PRICE_ID_LEAGUE_PRO=

## Emails (Resend)
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=
EMAIL_REPLY_TO_FALLBACK=

## Cron
CRON_SECRET=
